<!-- launch for line following specific nodes -->
<launch> 
  <include file="$(find zbar_decoder)/launch/zbar_decoder_node.launch" /> 

  <node name="action_line_follow" pkg="line_pid" type="line_pid_node" output="screen" > 
    <param name="update_rate" value="20"/>
    <param name="drive_kp" value="1.0"/>
    <param name="drive_ki" value="0.05"/>
    <param name="drive_kd" value="0.5"/>
    <param name="drive_max_i" value="1" />
    <param name="drive_feed_forward" value="0.00"/>
    <param name="drive_max_output" value="0.4"/>
    <param name="forward_speed" value="0.3" />
    <param name="line_sub" value="/line_detector/perception/line" />
    <param name="odom_sub" value="/fmProcessors/odometry/filtered/local" /> 
    <param name="command_pub" value="/fmCommand/cmd_vel" />     
    <param name="ramp_dist" value="0.1" />
    <param name="stop_point_tolerance" value="0.05" />                  

    <param name="pid_debug_pub" value="/fmInformation/pid" />
  </node>

  <node name="line_detector" pkg="line_detection" type="line_detection_node" output="screen" > 
      <param name="threshold_gray" value="110" />
      <param name="camera_frame_id" value="camera_link" />
      <param name="show_lines" value="true" />
      <param name="a_threshold" value="85" />
      <param name="b_threshold" value="150" />
      <param name="threshold_random" value="25" />
  </node>

  <node pkg="safety_speed" name="obstacle_detector" type="lidar_obstacle_node.py" output="screen">
    <param name="reg_ratio_topic" value="/reg_ratio"/>
    <param name="scan_topic" value="/external/scan"/>
  </node>

  <node pkg="safety_speed" name="safety_speed" type="safety_speed_node.py" output="screen">
    <param name="vel_topic" value="/fmCommand/cmd_vel"/>
    <param name="safe_vel_topic" value="/safe_vel"/>
    <param name="reg_ratio_topic" value="/reg_ratio"/>
  </node>
</launch>
