<!-- -->
<launch> 
  <include file="$(find video_stream_opencv)/launch/creative_hd.launch" />

    <!--
    <node name="img_proc" pkg="image_proc" type="image_proc" ns="usb_cam">

        <param name="queue_size" value="5" />
    </node>
    -->
    <node name="line_detector" pkg="line_detection" type="line_detection_node" output="screen" > 
      <param name="line_width" value="30" />
      <param name="threshold_gray" value="60" />
      <param name="camera_frame_id" value="camera_link" />
    </node>
</launch>
