<launch>
    <include file="$(find frobit_lego_transporter)/launch/common.xml" />

    <include file="$(find hmi_support_frobit)/launch/hmi_support_frobit.launch" />
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
    <include file="$(find line_pid)/launch/line_pid.launch" />
    <include file="$(find free_navigation)/launch/free_navigation.launch" />

    <node pkg="twist_to_twiststamped" name="converter" type="cmd_vel_converter.py">
        <param name="cmd_vel_sub" value="/cmd_vel" />
        <param name="cmd_vel_pub" value="/fmCommand/cmd_vel" />
    </node>
    <node pkg="tf" type="static_transform_publisher" name="markerlocator_map_tf" args="-0.475 -1.489 0 0 0 0.710 0.704 map markerlocator 100" />

    <!-- test mission -->
    <node name="test_server" pkg="test_server" type="test_server_node" output="screen" >
        <param name="node_name" value="test_server" />
    </node>

    <node name="action_navigation" pkg="test_server" type="test_server_node" output="screen" >
        <param name="node_name" value="action_navigation" />
    </node>

    <node name="action_to_cell" pkg="to_cell_behavior" type="to_cell_behavior_node" output="screen" >
        <param name="node_name" value="action_to_cell" />
    </node>

    <node name="action_from_cell" pkg="from_cell_behavior" type="from_cell_behavior_node" output="screen" >
        <param name="node_name" value="action_from_cell" />
    </node>

    <node name="mission" pkg="mission" type="mission_node" output="screen" >
        <param name="loopRate" value="10" />
    </node>

    <node name="action_tipper" pkg="test_server" type="test_server_node" output="screen" >
        <param name="node_name" value="action_tipper" />
    </node>

      <!-- Modified relative move server node -->
    <node name="relative_move_server_node" pkg="relative_move_server" type="relative_move_server_node" output="screen">
        <param name="cmd_vel_topic" value="/fmCommand/cmd_vel" />
        <param name="odom_topic" value="/fmProcessors/odometry/filtered/local" />
        <param name="/fmExecutors/wptnav/max_linear_velocity" value="0.5" />
        <param name="/fmExecutors/wptnav/max_angular_velocity" value="0.5" />
    </node>
</launch>

    <group ns="fmControllers">
        <!-- Frobit interface -->
        <node pkg="sdu_frobit_v2" name="frobit" type="frobit_interface_node.py" output="screen">
            <param name="actuation_enable_sub" value="/fmSafe/actuation_enable" />
            <param name="cmd_vel_sub" value="/fmCommand/cmd_vel" />
            <param name="enc_left_pub" value="/fmInformation/encoder_left" />
            <param name="enc_right_pub" value="/fmInformation/encoder_right" />
            <param name="wheel_status_left_pub" value="/fmInformation/wheel_status_left" />
            <param name="wheel_status_right_pub" value="/fmInformation/wheel_status_right" />
            <param name="wheel_feedback_left_pub" value="/fmInformation/wheel_feedback_left" />
            <param name="wheel_feedback_right_pub" value="/fmInformation/wheel_feedback_right" />
            <param name="wheel_pid_left_pub" value="/fmInformation/wheel_pid_left" />
            <param name="wheel_pid_right_pub" value="/fmInformation/wheel_pid_right" />
            <param name="nmea_from_frobit_sub" value="/fmSignal/nmea_from_frobit" />
            <param name="nmea_to_frobit_pub" value="/fmSignal/nmea_to_frobit" />
            <param name="publish_wheel_status_rate" value="10" />
            <param name="publish_wheel_feedback_rate" value="10" />
            <param name="publish_wheel_pid_rate" value="10" />
            <param name="castor_front" value="true" />
            <param name="max_linear_acceleration" value="16.2" />
            <param name="max_angular_acceleration" value="16.0" />
            <param name="wheel_drive_feed_forward" value="85" />
            <param name="wheel_drive_kp" value="5" />
            <param name="wheel_drive_ki" value="10" />
            <param name="wheel_drive_kd" value="5" />
            <param name="wheel_drive_max_integral_output" value="300" />
            <param name="wheel_turn_feed_forward" value="110" />
            <param name="wheel_turn_kp" value="10" />
            <param name="wheel_turn_ki" value="20" />
            <param name="wheel_turn_kd" value="3" />
            <param name="wheel_turn_max_integral_output" value="300" />
            <param name="supply_voltage_scale_factor" value="0.03747" />
            <param name="min_supply_voltage" value="12.1" />
            <param name="show_voltage_interval" value="300" />
        </node>
    </group>
</launch>