<launch>
    <include file="$(find frobit_lego_transporter)/launch/common.xml" />

    <include file="$(find hmi_support_frobit)/launch/hmi_support_frobit.launch" />
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
    <include file="$(find line_pid)/launch/line_pid.launch" />
    <include file="$(find free_navigation)/launch/free_navigation.launch" />

    <node pkg="twist_to_twiststamped" name="converter" type="cmd_vel_converter.py">
        <param name="cmd_vel_sub" value="/cmd_vel" />
        <param name="cmd_vel_pub" value="/fmCommand/cmd_vel" />
    </node>

    <node name="action_navigation" pkg="test_server" type="test_server_node" output="screen" >
        <param name="node_name" value="action_navigation" />
    </node>

    <node name="action_to_cell" pkg="to_cell_behavior" type="to_cell_behavior_node" output="screen" >
        <param name="node_name" value="action_to_cell" />
    </node>

    <node name="action_from_cell" pkg="from_cell_behavior" type="from_cell_behavior_node" output="screen" >
        <param name="node_name" value="action_from_cell" />
    </node>

    <node name="mission" pkg="mission" type="mission_node" output="screen" >
        <param name="loopRate" value="10" />
    </node>

    <node name="action_tipper" pkg="test_server" type="test_server_node" output="screen" >
        <param name="node_name" value="action_tipper" />
    </node>

      <!-- Modified relative move server node -->
    <node name="relative_move_server_node" pkg="relative_move_server" type="relative_move_server_node" output="screen">
        <param name="cmd_vel_topic" value="/fmCommand/cmd_vel" />
        <param name="odom_topic" value="/fmProcessors/odometry/filtered/local" />
        <param name="/fmExecutors/wptnav/max_linear_velocity" value="0.5" />
        <param name="/fmExecutors/wptnav/max_angular_velocity" value="0.5" />
    </node>

    <node pkg="dock_with_tape" name="docker" type="dock_with_tape_node" output="screen">
        <param name="update_rate" value="20"/>
        <param name="drive_kp" value="10.0"/>
        <param name="drive_ki" value="3.5"/>
        <param name="drive_kd" value="10.0"/>
        <param name="drive_max_i" value="1" />
        <param name="drive_feed_forward" value="0.00"/>
        <param name="drive_max_output" value="0.4"/>
        <param name="forward_speed" value="0.2" />
        <param name="line_sub" value="/line_detector/perception/line" />
        <param name="odom_sub" value="/fmProcessors/odometry/filtered/local" />
        <param name="command_pub" value="/fmCommand/cmd_vel" />
        <param name="pid_debug_pub" value="/fmInformation/pid" />
        <param name="laser_sub" value="/fmSensors/scan" />
        <param name="dock_speed" value="0.1" />
        <param name="ramp_dist" value="0.2" />
    </node>

    <node name="battery_monitor" pkg="battery_monitor" type="battery_monitor_node" >
        <param name="min_battery_level" value="12.2" />
        <param name="publish_rate" value="5" />
    </node>

    <!-- Serial comm with Arduino -->
    <node pkg="rosserial_python" name="rosserial_python" type="serial_node.py" output="screen" args="/dev/ttyACM0" /> <!-- TODO udev symlink -->

    <node pkg="collect_bricks_pos" type="collect_bricks_pos_node.py" name="collect_bricks_pos_node" />
</launch>
