<launch>
    <include file="$(find frobit_lego_transporter)/launch/common.xml" />

    <!-- Serial comm with Arduino -->
    <node pkg="rosserial_python" name="rosserial_python" type="serial_node.py" output="screen" args="/dev/ttyACM0" /> <!-- TODO udev symlink -->

    <group ns="fmDecisionMakers">
        <!-- Keyboard control -->
        <node pkg="frobit_wptnav_mission" name="wptnav_mission" type="wptnav_mission_node.py" output="screen">
            <param name="remote_control_sub" value="/fmHMI/remote_control"/>
            <param name="remote_control_feedback_pub" value="/fmHMI/remote_control_feedback" />
            <param name="automode_pub" value="/fmPlan/automode" />
            <param name="deadman_pub" value="/fmSafe/deadman" />
            <param name="cmd_vel_pub" value="/fmCommand/cmd_vel" />
            <param name="max_linear_velocity" value="0.7"/>
            <param name="max_angular_velocity" value="0.6"/>
            <param name="linear_velocity_step" value="0.1"/>
            <param name="angular_velocity_step" value="0.2"/>
        </node>

        <node pkg="keyboard_remote_control" name="kbd_remote" type="keyboard_remote_control_node.py" output="screen" >
            <param name="keyboard_sub" value="/fmHMI/keyboard"/>
            <param name="remote_control_pub" value="/fmHMI/remote_control"/>
        </node>

        <node pkg="keyboard_interface" type="keyboard_node" name="keyboard" output="screen">
            <param name="keyboard_pub" value="/fmHMI/keyboard" />
        </node>
    </group>
</launch>
