<!---->

<launch>
    <!-- Frobit parameters -->
    <param name="diff_steer_wheel_distance" value="0.375"/>
    <param name="ticks_per_meter_left" value="700" />
    <param name="ticks_per_meter_right" value="700" />

    <group ns="fmSafety">
        <node pkg="basic_incident_handler" name="incident_handler" type="basic_incident_handler_node.py" output="screen">
            <param name="deadman_enable" value="True" />
            <param name="deadman_timeout" value="0.100" />
            <param name="deadman_sub" value="/fmSafe/deadman" />
            <param name="critical_fault_enable" value="False" />
            <param name="critical_fault_timeout" value="0.100" />
            <param name="critical_fault_sub" value="/fmSafe/critical_fault" />
            <param name="obstacle_enable" value="False" />
            <param name="obstacle_timeout" value="0.100" />
            <param name="obstacle_sub" value="/fmSafe/obstacle" />
            <param name="actuation_enable_pub" value="/fmSafe/actuation_enable" />
        </node>
    </group>

    <group ns="fmLib">
        <!-- Serial communication with the IMU -->
        <node pkg="serial_string" name="imu_serial_string_node" type="serial_string_node" output="screen">
            <param name="publisher_topic" value="/fmData/imu_rx" />
            <param name="subscriber_topic" value="/fmData/imu_tx" />
            <param name="device" value="/dev/imu" />
            <param name="baudrate" value="115200" />
            <param name="termination_character" value="10"/>
        </node>

        <!-- Frobit serial device and protocol interface -->
        <node pkg="serial_nmea" name="frobit_nmea" type="serial_nmea_node" respawn="true" output="screen">
            <param name="nmea_from_device_pub" value="/fmSignal/nmea_from_frobit"/>
            <param name="nmea_to_device_sub" value="/fmSignal/nmea_to_frobit"/>
            <param name="serial_device" value="/dev/frobit"/>
            <param name="serial_baudrate" value="57600"/>
            <param name="use_nmea_checksum" value="true"/>
        </node>

        <!-- Serial comm with Arduino -->
        <node pkg="rosserial_python" name="rosserial_python" type="serial_node.py" output="screen" args="/dev/ttyACM0" /> <!-- TODO udev symlink -->
    </group>

    <group ns="fmSensors">
        <!-- Vectornav VN-100 IMU -->
        <node pkg="vectornav_vn100" name="imu_node" type="vectornav_vn100_node" output="screen">
            <param name="vectornav_vn100_sub" value="/fmData/imu_rx" />
            <param name="imu_pub" value="/fmInformation/imu" />
            <param name="frame_id" value="imu_link" />
            <param name="use_enu" value="true" />
            <param name="covariance_x" value="0.001" />
            <param name="covariance_y" value="0.001" />
            <param name="covariance_z" value="0.001" />
        </node>

        <!-- SICK laser scanner -->
        <node name="sick_tim310s01" pkg="sick_tim" type="sick_tim310s01" respawn="false" output="screen">
            <param name="min_ang" type="double" value="-1.8326" />
            <param name="max_ang" type="double" value="1.8326" />
            <param name="intensity" type="bool" value="True" />
            <param name="skip" type="int" value="0" />
            <param name="frame_id" type="str" value="laser_link" />
            <param name="time_offset" type="double" value="-0.001" />
            <param name="publish_datagram" type="bool" value="False" />
        </node>
    </group>

    <group ns="fmProcessors">
        <!-- Calculate odometry based on wheel encoders and IMU yaw axis orientation -->
        <node pkg="differential_odometry" name="differential_odometry" type="differential_odometry_node" output="screen">
            <param name="enc_left_sub" value="/fmInformation/encoder_left" />
            <param name="enc_right_sub" value="/fmInformation/encoder_right" />
            <param name="imu_sub" value="/fmInformation/imu" />
            <param name="odom_reset_sub" value="/fmInformation/odom_reset" />
            <param name="odom_pub" value="/fmKnowledge/wheel_odom" />
            <param name="encoder_output" value="absolute" />
            <param name="max_ticks_per_update" value="200" />
            <param name="yaw_angle_source" value="odometry" /> <!-- Do not use IMU as yaw source; EKF fuses the measurements -->
            <param name="publish_transform" value="false" />
            <param name="odom_estimate_frame" value="wheel_odom" />
            <param name="vehicle_frame" value="base_link" />
            <rosparam param="pose_covariance_diagonal">[0.3, 0.3, 0.3, 0.5, 0.5, 0.5]</rosparam>
            <rosparam param="twist_covariance_diagonal">[0.1, 0.1, 0.1, 0.2, 0.2, 0.2]</rosparam>
        </node>

        <!-- MarkerLocator "GPS" -->
        <node pkg="markerlocator_odometry" name="markerlocator_odometry" type="markerlocator_odometry_node.py" output="screen">
            <remap from="odom_marloc" to="/fmKnowledge/odom_marloc"/>
            <param name="host" value="10.115.253.233" />
            <param name="port" value="21212" />
            <param name="frame_id" value="markerlocator" />
            <param name="time_offset" type="double" value="0.0" />
            <rosparam param="pose_covariance_diagonal">[0.000001, 0.000001, 0.000001, 0.000001, 0.000001, 0.000001]</rosparam>
        </node>

        <!-- EKFs -->
        <!-- <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="ekf_local" output="screen">
            <remap from="odom" to="/fmKnowledge/wheel_odom"/>
            <remap from="imu_data" to="/fmInformation/imu"/>
            <param name="output_frame" value="odom"/>
            <param name="base_footprint_frame" value="base_link"/>
            <param name="freq" value="30.0"/>
            <param name="sensor_timeout" value="1.0"/>
            <param name="odom_used" value="true"/>
            <param name="imu_used" value="true"/>
            <param name="vo_used" value="false"/>
            <param name="gps_used" value="false"/>
            <param name="debug" value="false"/>
            <param name="self_diagnose" value="true"/>
        </node>

        <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="ekf_global" output="screen">
            <remap from="odom" to="/fmKnowledge/wheel_odom"/>
            <remap from="imu_data" to="/fmInformation/imu"/>
            <remap from="gps" to="/fmKnowledge/odom_marloc"/>
            <param name="output_frame" value="map"/>
            <param name="base_footprint_frame" value="odom"/>
            <param name="freq" value="30.0"/>
            <param name="sensor_timeout" value="1.0"/>
            <param name="odom_used" value="true"/>
            <param name="imu_used" value="true"/>
            <param name="vo_used" value="false"/>
            <param name="gps_used" value="true"/>
            <param name="debug" value="false"/>
            <param name="self_diagnose" value="true"/>
        </node> -->

        <!-- EKF for fusing continous position data from wheel odometry and IMU -->
        <node pkg="robot_localization" type="ekf_localization_node" name="ekf_loc_local" clear_params="true">
            <param name="frequency" value="30"/>
            <param name="sensor_timeout" value="0.1"/>
            <param name="two_d_mode" value="true"/>

            <param name="map_frame" value="map"/>
            <param name="odom_frame" value="odom"/>
            <param name="base_link_frame" value="base_link"/>
            <param name="world_frame" value="odom"/>

            <param name="transform_time_offset" value="0.0"/>

            <param name="odom0" value="/fmKnowledge/wheel_odom"/>
            <param name="imu0" value="/fmInformation/imu"/>

            <!--
            x,     y,      z,
            roll,  pitch,  yaw,
            vx,    vy,     vz,
            vroll, vpitch, vyaw,
            ax,    ay,     az
             -->

            <!-- Wheel odometry -->
            <rosparam param="odom0_config">[false, false, false,
                                            false, false, false,
                                            true, true, false,
                                            false, false, true,
                                            false, false, false]</rosparam>

            <!-- IMU -->
            <rosparam param="imu0_config">[false, false, false,
                                           false, false, true,
                                           false, false, false,
                                           false, false, true,
                                           true,  false, false]</rosparam>

            <param name="odom0_differential" value="false"/>
            <param name="imu0_differential" value="false"/>

            <param name="odom0_relative" value="true"/>
            <param name="imu0_relative" value="true"/>

            <param name="imu0_remove_gravitational_acceleration" value="true"/>

            <param name="print_diagnostics" value="false"/>

            <remap from="odometry/filtered" to="odometry/filtered/local"/>
        </node>

        <!-- EKF for also fusing absolute position data which is subject to discrete jumps -->
        <node pkg="robot_localization" type="ekf_localization_node" name="ekf_loc_global" clear_params="true">
            <param name="frequency" value="30"/>
            <param name="sensor_timeout" value="1"/>
            <param name="two_d_mode" value="true"/>

            <param name="map_frame" value="map"/>
            <param name="odom_frame" value="odom"/>
            <param name="base_link_frame" value="base_link"/>
            <param name="world_frame" value="map"/>

            <param name="transform_time_offset" value="0.0"/>

            <param name="odom0" value="/fmKnowledge/wheel_odom"/>
            <param name="odom1" value="/fmKnowledge/odom_marloc"/>
            <param name="imu0" value="/fmInformation/imu"/>

            <!-- Wheel odometry -->
            <rosparam param="odom0_config">[false, false, false,
                                            false, false, false,
                                            true, true, false,
                                            false, false, true,
                                            false, false, false]</rosparam>

            <!-- MarkerLocator GPS -->
            <rosparam param="odom1_config">[true, true, false,
                                            false, false, true,
                                            false, false, false,
                                            false, false, false,
                                            false, false, false]</rosparam>

            <!-- IMU -->
            <rosparam param="imu0_config">[false, false, false,
                                           false, false, false,
                                           false, false, false,
                                           false, false, true,
                                           true,  false, false]</rosparam>

            <param name="odom0_differential" value="false"/>
            <param name="odom1_differential" value="false"/>
            <param name="imu0_differential" value="false"/>

            <param name="odom0_relative" value="true"/>
            <param name="odom1_relative" value="false"/>
            <param name="imu0_relative" value="true"/>

            <param name="imu0_remove_gravitational_acceleration" value="true"/>

            <param name="print_diagnostics" value="false"/>

            <!-- Reject MarkerLocator poses which are too far from current vehicle state -->
            <!-- <param name="odom1_pose_rejection_threshold" value="3"/> -->

            <remap from="odometry/filtered" to="odometry/filtered/global"/>
        </node>
    </group>

    <group ns="fmControllers">
        <!-- Frobit interface -->
        <node pkg="sdu_frobit_v2" name="frobit" type="frobit_interface_node.py" output="screen">
            <param name="actuation_enable_sub" value="/fmSafe/actuation_enable" />
            <param name="cmd_vel_sub" value="/fmCommand/cmd_vel" />
            <param name="enc_left_pub" value="/fmInformation/encoder_left" />
            <param name="enc_right_pub" value="/fmInformation/encoder_right" />
            <param name="wheel_status_left_pub" value="/fmInformation/wheel_status_left" />
            <param name="wheel_status_right_pub" value="/fmInformation/wheel_status_right" />
            <param name="wheel_feedback_left_pub" value="/fmInformation/wheel_feedback_left" />
            <param name="wheel_feedback_right_pub" value="/fmInformation/wheel_feedback_right" />
            <param name="wheel_pid_left_pub" value="/fmInformation/wheel_pid_left" />
            <param name="wheel_pid_right_pub" value="/fmInformation/wheel_pid_right" />
            <param name="nmea_from_frobit_sub" value="/fmSignal/nmea_from_frobit" />
            <param name="nmea_to_frobit_pub" value="/fmSignal/nmea_to_frobit" />
            <param name="publish_wheel_status_rate" value="10" />
            <param name="publish_wheel_feedback_rate" value="10" />
            <param name="publish_wheel_pid_rate" value="10" />
            <param name="castor_front" value="true" />
            <param name="max_linear_acceleration" value="16.2" />
            <param name="max_angular_acceleration" value="16.0" />
            <param name="wheel_drive_feed_forward" value="85" />
            <param name="wheel_drive_kp" value="5" />
            <param name="wheel_drive_ki" value="10" />
            <param name="wheel_drive_kd" value="5" />
            <param name="wheel_drive_max_integral_output" value="300" />
            <param name="wheel_turn_feed_forward" value="110" />
            <param name="wheel_turn_kp" value="10" />
            <param name="wheel_turn_ki" value="20" />
            <param name="wheel_turn_kd" value="3" />
            <param name="wheel_turn_max_integral_output" value="300" />
            <param name="supply_voltage_scale_factor" value="0.03747" />
            <param name="min_supply_voltage" value="12.1" />
            <param name="show_voltage_interval" value="300" />
        </node>
    </group>

    <!-- Frobit state publisher -->
    <param name="robot_description" textfile="$(find frobit_description)/urdf/frobit.urdf" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
        <param name="publish_frequency" value="100"/>
    </node>

    <group ns="fmDecisionMakers">
        <!-- Keyboard control -->
        <node pkg="frobit_wptnav_mission" name="wptnav_mission" type="wptnav_mission_node.py" output="screen">
            <param name="remote_control_sub" value="/fmHMI/remote_control"/>
            <param name="remote_control_feedback_pub" value="/fmHMI/remote_control_feedback" />
            <param name="automode_pub" value="/fmPlan/automode" />
            <param name="deadman_pub" value="/fmSafe/deadman" />
            <param name="cmd_vel_pub" value="/fmCommand/cmd_vel" />
            <param name="max_linear_velocity" value="0.7"/>
            <param name="max_angular_velocity" value="0.6"/>
            <param name="linear_velocity_step" value="0.1"/>
            <param name="angular_velocity_step" value="0.2"/>
        </node>

        <node pkg="keyboard_remote_control" name="kbd_remote" type="keyboard_remote_control_node.py" output="screen" >
            <param name="keyboard_sub" value="/fmHMI/keyboard"/>
            <param name="remote_control_pub" value="/fmHMI/remote_control"/>
        </node>

        <node pkg="keyboard_interface" type="keyboard_node" name="keyboard" output="screen">
            <param name="keyboard_pub" value="/fmHMI/keyboard" />
        </node>
    </group>

    <node pkg="tf" type="static_transform_publisher" name="markerlocator_map_tf" args="0 0 0 0 0 0 markerlocator map 100" />

    <!-- Onboard webcam -->
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="1280" />
        <param name="image_height" value="720" />
        <param name="pixel_format" value="mjpeg" />
        <param name="camera_frame_id" value="/camera_link" />
        <param name="framerate" value="30" />
        <param name="contrast" value="32" />
        <param name="brightness" value="32" />
        <param name="saturation" value="32" />
        <param name="sharpness" value="72" />
        <param name="autofocus" value="false" />
        <param name="focus" value="-1" />
        <param name="camera_info_url" value="package://line_detection/config/head_camera.yaml" />
        <param name="camera_name" value="head_camera" />
        <param name="io_method" value="mmap"/>
    </node>
</launch>
