<!-- Launch file for hmi_support_frobit node -->

<launch>
    <node pkg="hmi_support_frobit" name="hmi_support_frobit_node" type="hmi_support_frobit_node.py" output="screen">
        <!-- Frobit's params -->
        <param name="mr_tp_automode" value="/fmPlan/automode" />
        <param name="mr_tp_deadman" value="/fmSafe/deadman" />
        <param name="mr_tp_cmd_vel" value="/fmCommand/cmd_vel" />
        <param name="mr_max_linear_velocity" value="1.0"/>
        <param name="mr_max_angular_velocity" value="0.8"/>
        
        <!-- Tipper's params -->
        <param name="tipper_tp_automode" value="/ui/tipper_automode" />
        <param name="tipper_tp_answer" value="/arduino_answer" />
        <param name="tipper_tp_goal" value="/arduino_goal" />
        <param name="tipper_position_tipping" value="0" />
        <param name="tipper_position_idle" value="2" />
        <param name="tipper_position_step" value="2" /> <!-- Set this to 1 to enable DarthVader -->
        
        <!-- HMI control topic for Frobit -->
        <param name="tp_ui_str_control" value="/ui/str_control_frobit" />

        <!-- Rate for publishing topics [Hz] -->
        <param name="publishing_rate" value="20"/>
    </node>
</launch>

