<!-- -->
<launch>
  <rosparam param="use_sim_time" > true </rosparam>
  <!-- visulization -->
  <node pkg="stage_ros" type="stageros" name="simulator" args="$(find frobit_launch_sim)/world/box_and_surroundings.world">
      <param name="base_watchdog_timeout" value="0.2"/>
  </node>

    <group ns="fmSafety">
        <node pkg="basic_incident_handler" name="incident_handler" type="basic_incident_handler_node.py" output="screen">
            <param name="deadman_enable" value="True" />
            <param name="deadman_timeout" value="0.100" />
            <param name="deadman_sub" value="/fmSafe/deadman" />
            <param name="critical_fault_enable" value="False" />
            <param name="critical_fault_timeout" value="0.100" />
            <param name="critical_fault_sub" value="/fmSafe/critical_fault" />
            <param name="obstacle_enable" value="False" />
            <param name="obstacle_timeout" value="0.100" />
            <param name="obstacle_sub" value="/fmSafe/obstacle" />
            <param name="actuation_enable_pub" value="/fmSafe/actuation_enable" />
        </node>
    </group>

    <group ns="fmDecisionMakers">
  <node pkg="keyboard_remote_control" name="kbd_remote" type="keyboard_remote_control_node.py" output="screen" >
        <param name="keyboard_sub" value="/fmHMI/keyboard"/>
        <param name="remote_control_pub" value="/fmHMI/remote_control"/>
    </node>

    <node pkg="keyboard_interface" type="keyboard_node" name="keyboard">
        <param name="keyboard_pub" value="/fmHMI/keyboard" />
    </node>
  </group>
	<node pkg="twist_stamped_to_twist" name="converter" type="cmd_vel_converter.py">	
	    <param name="cmd_vel_sub" value="/fmCommand/cmd_vel" />
	    <param name="cmd_vel_pub" value="/cmd_vel" />
    </node>
    </group>
</launch>
