<launch>
    <node pkg="markerlocator_odometry" name="markerlocator_odometry" type="markerlocator_odometry_node.py" output="screen">
        <param name="host" value="10.115.253.233" />
        <param name="port" value="21212" />
        <param name="frame_id" value="base_link" />
        <param name="time_offset" type="double" value="-0.001" />
        <rosparam param="pose_covariance_diagonal">[0.001, 0.001, 99999, 99999, 99999, 0.001]</rosparam>
    </node>
</launch>
